@media screen and (max-width: 1070px) {
    .section-card {
        flex-wrap: wrap !important;
    }
}

@media screen and (max-width: 900px) {
    .cards {
        flex-direction: column;
        width: 90vw;
    }
}

@media screen and (max-width: 955px) {
    .title {
        width: 100%;
        align-items: center;
    }

    h1.title1 {
        font-weight: 500;
        font-size: 40px;
    }

    h1.title2 {
        font-weight: 80;
        font-size: 50px;
    }

    h1.title3 {
        font-weight: 500;
        font-size: 40px;
    }

    .title-btn {
        padding: 5px;
    }

    .nav-items {
        display: none;
    }

    .nav-right {
        display: none;
    }

    #menu-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu-icon-div {
        position: absolute;
        top: 28px;
        right: 10px;
    }
    .nav-icon-bg {
        width: 100px;
    }
}

@media screen and (max-width: 760px) {
    .contact-text-div {
        width: 80%;
    }
    .nav-item {
        font-size: 14px;
    }
    .donation h1 {
        font-size: 20px;
    }
    .form-div form input {
        font-size: 12px;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 80% !important;
        margin-bottom: 20px;
    }
    .row100 .col {
        text-align: center;
    }
}
