@media screen and (max-width: 900px) {
  .cards {
    flex-direction: column;
    width: 90vw;
  }
}

@media screen and (max-width: 700px) {
  .title {
    width: 100%;
    align-items: center;
  }

  h1.title1 {
    font-weight: 500;
    font-size: 40px;
  }

  h1.title2 {
    font-weight: 80;
    font-size: 50px;
  }

  h1.title3 {
    font-weight: 500;
    font-size: 40px;
  }

  .title-btn {
    padding: 5px;
  }

  .nav-items {
    display: none;
  }

  .nav-right {
    display: none;
  }

  #menu-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu-icon-div {
    position: absolute;
    top: 28px;
    right: 10px;
  }
  .nav-icon-bg {
    width: 100px;
  }
}
