@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #ffffff;
  --light-blue: #78c0e0;
  --blue: #449dd1;
  --dark-blue: #052038;
}

body {
  display: block;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: var(--blue);
}

* {
  box-shadow: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: white;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  /* disabling text selection :P */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
.nav-left {
  padding: 0.5em;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-right {
  padding: 0.5em;
  top: 0;
  display: flex;
  flex-grow: 100;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  vertical-align: middle;
  padding: 0 2vw;
  color: var(--light-blue);
  font-weight: 700;
  cursor: pointer;
}

.nav-icon-bg {
  padding: 0.5em 0.5em 0.5em 4em;
  position: absolute;
  left: -50px;
  width: 100px;
  height: 75px;
  z-index: -1;
  background-color: var(--dark-blue);
  box-shadow: var(--dark-blue) 0em 0em 0.25em;
  transform: skewX(-15deg);
  transition: width 0.5s;
}

.nav-items {
  display: flex;
}

/* TO BE CHANGED LATER, ON SCROLL (probably js would help) */
.nav-icon-bg:hover {
  width: 100vw;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom right, #000000ff, #00000000);
  z-index: 0;
}

.landing-scene {
  display: block;
  height: 90vh;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.75;
  min-height: 75vh;
  max-height: 90vh;
  width: 50%;
  /* border: solid #ffffff; */
  margin-top: 5em;
  z-index: 1;
}
h1.title1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 60px;
  z-index: 1;
}
h1.title2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
  font-size: 100px;
  z-index: 1;
}
h1.title3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  font-size: 60px;
  color: var(--light-blue);
  z-index: 1;
}

h1.title3::after {
  content: "";
  border-right: 2px solid var(--light-blue);
  animation: typeEffect 1s infinite ease;
}

button {
  background-color: var(--light-blue);
  border: none;
  color: #ffffff;
  font-weight: 700;
  padding: auto;
  text-decoration: none;
  min-width: 100px;
  min-height: 40px;
  z-index: 1;

  vertical-align: middle;
  font-size: 16px;
  transition: background 0.5s;
  cursor: pointer;
  box-shadow: var(--blue) 0em 0em 0.5em;
}

button:hover {
  background-color: var(--blue);
}

.title-btn {
  margin: 1.5em auto;
  cursor: pointer;
  background: transparent;
  border: 2px solid var(--light-blue);
  padding: 10px;
}

#menu-icon {
  color: var(--light-blue);
  cursor: pointer;
  font-size: 30px;
  display: none;
}

.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: var(--dark-blue);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.side-pane-div-upper {
  display: flex;
  flex-direction: column;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--light-blue);
  display: block;
  transition: 0.3s;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.arrow-icon {
  font-size: 16px;
  color: var(--light-blue);
}

@keyframes typeEffect {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
