@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --white: #ffffff;
    --light-blue: #78c0e0;
    --blue: #052038;
    --dark-blue: #449dd1;
    --cyan-process-blue: #5eafd9;
    --blue-saphire: #255f85;
    --pale-blue: #cee5f2;
}
html {
    scroll-behavior: smooth;
}
body {
    display: block;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: var(--blue);
}

* {
    box-shadow: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Poppins", sans-serif;
    color: white;
}

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    /* disabling text selection :P */
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}
.nav-left {
    padding: 0.5em;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-right {
    padding: 0.5em;
    top: 0;
    display: flex;
    flex-grow: 100;
    align-items: center;
    justify-content: flex-end;
}

.nav-item {
    vertical-align: middle;
    padding: 0 2vw;
    color: var(--white);
    cursor: pointer;
}

.nav-icon-bg {
    padding: 0.5em 0.5em 0.5em 4em;
    position: absolute;
    left: -50px;
    width: 100px;
    height: 75px;
    z-index: -1;
    background-color: var(--dark-blue);
    box-shadow: var(--dark-blue) 0em 0em 0.25em;
    transform: skewX(-15deg);
    transition: width 0.5s;
}
.abt {
    color: var(--white);
}
.nav-items {
    display: flex;
}

/* TO BE CHANGED LATER, ON SCROLL (probably js would help) */
.nav-icon-bg:hover {
    width: 100vw;
}

.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.heading-primary {
    text-align: center;
    color: var(--dark-blue);
    margin-top: 20px;
    font-size: 36px;
    position: relative;
}

.heading-primary::after {
    position: absolute;
    content: "";
    height: 5px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 5%;
    background: var(--blue-saphire);
    border-radius: 20px;
    transition: 0.5s;
}

.heading-primary:hover::after {
    width: 10%;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom right, #000000ff, #00000000);
    z-index: 0;
}

.landing-scene {
    display: block;
    height: 90vh;
    width: 100%;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.75;
    min-height: 75vh;
    max-height: 90vh;
    width: 50%;
    /* border: solid #ffffff; */
    margin-top: 5em;
    z-index: 1;
}
h1.title1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 60px;
    z-index: 1;
}
h1.title2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 100px;
    z-index: 1;
}
h1.title3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 60px;
    color: var(--light-blue);
    z-index: 1;
}

h1.title3::after {
    content: "";
    border-right: 2px solid var(--light-blue);
    animation: typeEffect 1s infinite ease;
}

button {
    background-color: var(--light-blue);
    border: none;
    color: #ffffff;
    font-weight: 700;
    padding: auto;
    text-decoration: none;
    min-width: 100px;
    min-height: 40px;
    z-index: 1;

    vertical-align: middle;
    font-size: 16px;
    transition: background 0.5s;
    cursor: pointer;
    box-shadow: var(--blue) 0em 0em 0.5em;
}

button:hover {
    background-color: var(--blue);
}

.title-btn {
    margin: 1.5em auto;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--light-blue);
    padding: 10px;
}

.desc-bg {
    /* margin-top: 5rem; */
    padding-top: 7.5em;
    width: 100vw;
    height: 100vh;
    color: #fff5fd;
    display: flex;
    padding: auto;
    /* background-color: #111; */
}

.org-images {
    position: relative;
    margin-left: 30px;
}

.first-image img {
    margin-left: 8px;
    position: absolute;
    width: 17rem;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(
        top,
        #3acfd5 0%,
        #3a4ed5 100%
    );
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

.second-image img {
    position: absolute;
    margin-left: 17.5rem;
    margin-top: 10rem;
    width: 22rem;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(
        top,
        #3acfd5 0%,
        #3a4ed5 100%
    );
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

.third-image img {
    position: absolute;
    margin-left: 8px;
    width: 17rem;
    margin-top: 23rem;
    z-index: -1;
    height: 11.5rem;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(
        top,
        #3acfd5 0%,
        #3a4ed5 100%
    );
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

.content h2 {
    margin-left: 60rem;
    margin-top: 3rem;
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 5em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px var(--light-blue);
}

.content h2:nth-child(2) {
    color: black;
    animation: animate 4s ease-in-out infinite;
}

.content p {
    width: 36rem;
    margin-left: 48rem;
    padding-top: 8rem;
}

.btn-org-one {
    display: block;
    margin-left: 60rem;
    margin-top: 20px;
    background: transparent;
    border: 3px solid var(--dark-blue);
    padding: 7px;
    border-radius: 2px;
    color: var(white);
}
.contact-form-btn {
    background: transparent;
    border: 3px solid var(--dark-blue);
    padding: 7px;
    border-radius: 2px;
    color: var(white);
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.contact-form-btn:hover {
    background-color: var(--dark-blue);
}

.btn-org-one:hover {
    background-color: var(--dark-blue);
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
            0% 45%,
            15% 44%,
            32% 50%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 60%,
            16% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}

#menu-icon {
    color: var(--light-blue);
    cursor: pointer;
    font-size: 30px;
    display: none;
}

.sidepanel {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 10;
    border: 2px solid linear-gradient(#12c2e9, #c471ed, #f64f59);
    top: 0;
    right: 0;
    background-color: var(--dark-blue);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-pane-div-upper {
    display: flex;
    flex-direction: column;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--light-blue);
    display: block;
    transition: 0.3s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.arrow-icon {
    font-size: 16px;
    color: var(--light-blue);
}

@keyframes typeEffect {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Donation Code */

.donation-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.donation {
    width: 90%;
    height: 80vh;
    background: linear-gradient(
        -45deg,
        #3f51b1 0%,
        #5a55ae 13%,
        #7b5fac 25%,
        #8f6aae 38%,
        #a86aa4 50%,
        #cc6b8e 62%,
        #f18271 75%,
        #f3a469 87%,
        #f7c978 100%
    );
    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donation h1 {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    font-size: 50px;
    border-radius: 10px;
}

.donation a {
    margin-top: 20px;
    text-decoration: none;
    border-radius: 36px;
    padding: 10px 25px 10px 25px;
    background: transparent;
    border: 2px solid var(--light-blue);
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

/* 
/* FAQ Code */

.faq {
    padding-bottom: 2.5rem;
    width: 80%;
    margin: 0 auto;
}

.faq-heading {
    margin-bottom: 20px;
}

summary {
    padding: 1em;
    background: var(--pale-blue);
    margin-bottom: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 0.3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: background 0.1s;
}

summary:hover {
    background: var(--light-blue);
}

details[open] summary ~ * {
    animation: open 0.5s ease-in-out;
}

.contact-text-one {
    margin-top: 25px !important;
}

.contact-text-div {
    display: block;
    margin: auto;
    width: 50%;
    color: var(--white);
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contact-text {
}

@keyframes open {
    from {
        opacity: 0;
        margin-top: -10px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
.contentfaq {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer code */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

.faq-content-text {
    color: var(--dark-blue);
}

.link {
    text-decoration: none;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    padding: 40px;
}

.about-heading {
    margin: 30px auto;
}

#about-para {
    color: var(--pale-blue);
    line-height: 35px;
}

#about-regard {
    margin-top: 20px;
    color: var(--pale-blue);
}

#about-bold {
    color: var(--pale-blue);
}

.about-founder-div {
    display: flex;
}

.founder {
    padding: 20px;
    background-color: var(--blue-saphire);
    margin: auto 20px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    width: 300px;
}

.founder:hover {
    transform: scale(1.02);
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 40%;
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
}

.form-div form {
    padding: 0 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-div form input {
    margin: 10px auto;
    outline: none;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    color: black;
}
