:root {
    --white: #ffffff;
    --light-blue: #78c0e0;
    --blue: #052038;
    --dark-blue: #449dd1;
    --cyan-process-blue: #5eafd9;
    --blue-saphire: #255f85;
    --pale-blue: #cee5f2;
}

.tab{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 100px;
    cursor: pointer;
    color: var(--pale-blue);
    font-style: normal;
    padding-bottom: 2px;
}
.border{
    border-bottom:var(--dark-blue) solid 3px ;
    border-radius: 2px;
}
.tab1 h3{
    /* font-size: larger; */
    font-weight: 40px;
}
.none{
    display: none;
}